<mat-card class="example-card">
  <h2>{{ title }}</h2>
  <canvas baseChart height="75"
          [datasets]="chartData"
          [options]="chartOptions"
          chartType="scatter">
  </canvas>
</mat-card>
