<div id="toolbar">
  <mat-form-field>
    <mat-label>Site</mat-label>
    <mat-select [(value)]="selectedOption">
      <mat-option value="SiteA.json">Site A</mat-option>
      <mat-option value="SiteB.json">Site B</mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="selectedOption !== appliedOption">
    <button mat-stroked-button (click)="onCancel()">Cancel</button>
    <button mat-stroked-button color="primary" (click)="onApply()">Apply</button>
  </div>
</div>
<div id="content">
  <app-graph title="Blue graph" color="rgb(61, 126, 154)" backgroundColor="rgba(61, 126, 154, 0.3)" [data]="data"></app-graph>
  <app-graph title="Red graph" color="rgb(229, 57, 53)" backgroundColor="rgb(229, 57, 53, 0.3)" [data]="data"></app-graph>
</div>
