#toolbar {
  background: #fafafa;
  box-shadow: inset 0 -1px 0 #e5e5e5;
  padding: 16px;
}

#content {
  padding: 16px;
}

button {
  margin-right: 8px;
}

app-graph {
  display: block;
  max-width: 800px;
  margin-bottom: 16px;
}
